<!DOCTYPE html>
<html>
  <head>
    <title>Sample Blog - Login</title>

    {% include '_deps.html' %}

    <!-- Custom -->
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/login-page.js"></script>
  </head>
  <body ng-app="sampleApp" ng-controller="loginCtrl">
    {% include '_nav.html' %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address or Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email or username" ng-model="e_or_u">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="pswrd">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="login()">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </body>
</html>