<!DOCTYPE html>
<html>
  <head>
    <title>Sample Blog - Messages</title>

    {% include '_deps.html' %}

    <!-- Custom -->
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/messages-page.js"></script>
  </head>
  <body ng-app="sampleApp" ng-controller="messagespageCtrl as ctrl">
    {% include '_nav.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-4" ng-if="you && !!you.id">
                <div class="box-s1">
                    <img class="user-bio-icon-1 middlr" src="(( ::you.icon_link || '/static/anon.png' ))" />
                    <h3 class="text-center">(( you.displayname ))</h3>
                    <p class="text-center">(( you.username ))</p>
                    <p class="text-center"><small>(Your Page)</small></p>
                </div>
            </div>

            <div class="col-md-8" ng-switch="!!currentSender">
                <div class="row box-s1">
                    <div class="col-md-12">
                        <h3>Messages</h3>
                        <div class="user-info-box-1" ng-switch-when="true">
                            <hr />
                            <img class="user-icon-1" 
                                src="(( ::currentSender.icon_link || '/static/anon.png' ))" />
                            <span class="user-details-1">
                                <strong>
                                    <a 
                                        title="(( ::currentSender.displayname ))"
                                        href="/users/(( ::currentSender.id ))">
                                        (( ::currentSender.displayname ))
                                    </a>
                                </strong>
                                <br/>
                                <small>(( ::currentSender.username ))</small>
                            </span>
                        </div>

                        <div class="top-space-1">
                            <button 
                                class="btn btn-sm btn-info" 
                                ng-switch-when="true"
                                ng-click="clearSender()">Go Back</button>
                        </div>
                    </div>
                </div>
                <div class="row box-s1"
                    ng-switch-when="false"
                    ng-repeat="sender in senders">
                    <div class="col-md-12">
                        <div class="user-info-box-1">
                            <img class="user-icon-1" src="(( ::sender.icon_link || '/static/anon.png' ))" />
                            <span class="user-details-1">
                                <strong>
                                    <a 
                                        title="(( ::sender.displayname ))"
                                        href="/users/(( ::sender.id ))">
                                        (( ::sender.displayname ))
                                    </a>
                                </strong>
                                <br/>
                                <small>(( ::sender.username ))</small>
                            </span>
                        </div>
                        <button class="btn btn-sm btn-info"
                            ng-click="setSender(sender)">See Messages</button>
                    </div>
                </div>
                <div class="row"
                    ng-switch-when="false">
                    <div class="col-md-12">
                        <p class="text-center" ng-if="!init && !no_more_records1">
                            <button class="btn btn-primary"
                                ng-disabled="is_loading"
                                ng-click="load_message_senders()">Load More</button>
                        </p>
                    </div>
                </div>

                <div class="row box-s1"
                    ng-switch-when="true"> 
                    <div class="col-md-12" ng-repeat="msg in messages" ng-switch="msg.sender.id === you.id">
                        <div class="message-box-1" ng-switch-when="false">
                            <img class="user-icon" 
                                src="(( ::msg.sender.icon_link || '/static/anon.png' ))" />
                            <span class="message-details">
                                (( ::msg.content ))<br />
                                <em><small>(( ::msg.date_created ))</small></em>
                            </span>
                        </div>

                        <div class="message-box-2" ng-switch-when="true">
                            <img class="user-icon" 
                                src="(( ::msg.sender.icon_link || '/static/anon.png' ))" />
                            <span class="message-details">
                                (( ::msg.content ))<br />
                                <em><small>(( ::msg.date_created ))</small></em>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row"
                    ng-switch-when="true">
                    <div class="col-md-12">
                        <p class="text-center" ng-if="!init && !no_more_records2">
                            <button class="btn btn-primary"
                                ng-disabled="is_loading"
                                ng-click="load_message_senders()">Load More</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>